doctype html
html
    head
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" href="/styles.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
        block title
            title= name
    body
        .menu
            .menu-item
                a(href="/") Home
            .menu-item
                a(href="/the_game") The Game
            .menu-item
                a(href="/factions") Factions
            .menu-item
                a(href="/galactipedia") Galactipedia
            .menu-item
                a(href="/rules") Rules
            form.menu-item.search-box(action="/search")
                | Search&nbsp;
                input(name="q")
        block content
            .content!= content